body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 12px;  
}

table {
  border-collapse: collapse;
  width: 100%;
}

/* th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
} */

input {
  width: 20px;
  text-align: center;
}

button, input[type="submit"], input[type="reset"] {
  background-color: white;
  border: none;
  cursor: pointer;
  outline: inherit;  
}

